<ng-container *ngIf="context">
  <div class="header-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-8">
          <h1 class="mb-0">Wallet</h1>
          <opdex-copy-address [address]="context?.wallet"></opdex-copy-address>
        </div>

        <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
          <opdex-tx-buttons (onSelectOption)="handleTxOption($event)"></opdex-tx-buttons>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <p class="big-balance" *ngIf="crsBalance">
            <opdex-number [value]="crsBalance" suffix="CRS"></opdex-number>
          </p>

          <p class="b-500 mb-0 positive-value" *ngIf="crsBalanceValue">
            <opdex-number [prefix]="selectedCurrency?.htmlEntity" [value]="crsBalanceValue" [short]="true"></opdex-number>
          </p>

          <div class="skeleton-bg mb-1" style="max-width: 200px;" *ngIf="!crsBalance"></div>
          <div class="skeleton-bg" style="max-width: 200px;" *ngIf="!crsBalanceValue"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 d-md-none mt-3">
          <opdex-tx-buttons (onSelectOption)="handleTxOption($event)"></opdex-tx-buttons>
        </div>
      </div>
    </div>
  </div>
</ng-container>
