<ng-container *ngIf="context">
  <div class="header-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-8">
          <h1 class="mb-0">Wallet</h1>
          <opdex-copy-address [address]="context?.wallet?.address"></opdex-copy-address>
        </div>

        <div class="d-none d-md-block col-12 col-md-6 col-lg-4">
          <opdex-tx-buttons (onSelectOption)="handleTxOption($event)"></opdex-tx-buttons>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <p class="big-balance" *ngIf="crsBalance">
            <opdex-number [value]="crsBalance" suffix="CRS"></opdex-number>
          </p>

          <p class="b-500 mb-0 positive-value" *ngIf="crsBalanceValue">
            <opdex-number [prefix]="selectedCurrency?.htmlEntity" [value]="crsBalanceValue" [short]="true"></opdex-number>
          </p>

          <div class="skeleton-bg mb-1" style="max-width: 200px;" *ngIf="!crsBalance"></div>
          <div class="skeleton-bg" style="max-width: 200px;" *ngIf="!crsBalanceValue"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 d-md-none mt-3">
          <opdex-tx-buttons (onSelectOption)="handleTxOption($event)"></opdex-tx-buttons>
        </div>
      </div>
    </div>
  </div>

  <div class="standard-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-xl-8"></div>

        <div class="col-12 col-sm-6 col-xl-4">
          <opdex-card>
            <div class="preferences">
              <div class="flex-row-center-between">
                <h4 class="mb-0">Preferences</h4>
                <button mat-icon-button class="small" (click)="togglePreferences()" color="primary"><mat-icon>{{showPreferences ? icons.remove : icons.add}}</mat-icon></button>
              </div>
            </div>

            <div [@collapse]="!showPreferences">
              <div class="theme mt-3 mb-3 flex-row-center">
                <div class="mr-5">
                  <label class="d-block mb-2">Theme</label>
                  <opdex-theme-toggle></opdex-theme-toggle>
                </div>

                <div>
                  <label class="d-block mb-2">Currency</label>
                  <opdex-currency-select></opdex-currency-select>
                </div>
              </div>

              <div class="mb-3">
                <opdex-tolerance [value]="context.preferences?.toleranceThreshold" (onToleranceChange)="handleToleranceChange($event)"></opdex-tolerance>
              </div>

              <opdex-deadline [value]="context.preferences?.deadlineThreshold" (onDeadlineChange)="handleDeadlineChange($event)"></opdex-deadline>
            </div>
          </opdex-card>

          <opdex-wallet-feed></opdex-wallet-feed>
        </div>
      </div>
    </div>
  </div>
</ng-container>
