<div class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="mb-0">Liquidity Pools</h1>
      </div>
    </div>
  </div>
</div>

<div class="offset-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3" *ngFor="let pool of pools">
        <opdex-liquidity-pool-summary-card
          [pool]="pool"
          [showPoolName]="true"
          routerLink="/pools/{{pool.address}}">
        </opdex-liquidity-pool-summary-card>
      </div>
    </div>
  </div>
</div>
