<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let pool of pools">
      <opdex-card routerLink="/pools/{{pool.address}}">
        <h3>{{pool.name}}</h3>
        <small>{{pool.address}}</small>
        <p>{{pool.reserveCrs.formattedValue}} CRS Reserves</p>
        <p>{{pool.reserveSrc.formattedValue}} {{pool.srcToken.symbol}} Reserves</p>
        <p>{{pool.totalStaked.formattedValue}} ODX Staked</p>
        <p>1 CRS = {{pool.srcPerCrs.formattedValue}} {{pool.srcToken.symbol}}</p>
        <p>1 {{pool.srcToken.symbol}} = {{pool.crsPerSrc.formattedValue}} CRS</p>
        <!-- <p>{{pool.miningPeriodEndBlock}} Mining Period End</p> -->
      </opdex-card>
    </div>
  </div>
</div>
