<button mat-button [matMenuTriggerFor]="currencyMenu" class="small d-inline pl-0 pr-0 transparent w-100">
  <div class="flex-row-center">
    <span [innerHtml]="currency?.htmlEntity" class="mr-2 currencySymbol"></span>
    {{currency?.abbreviation | uppercase}}
  </div>
</button>

<mat-menu #currencyMenu="matMenu">
  <button mat-menu-item *ngFor="let currency of currencies" (click)="select(currency)">
    <div class="flex-row-center">
      <span [innerHtml]="currency.htmlEntity" class="mr-2 currencySymbol"></span>
      {{currency.abbreviation | uppercase}}
    </div>
  </button>
</mat-menu>
