<ng-container *ngIf="!loading; else loader">
  <ng-container *ngIf="dataSource?.data?.length; else noResults">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort [trackBy]="trackBy" class="w-100">
        <ng-container matColumnDef="proposalId" sticky>
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">
            <span class="b-400">#{{element.proposal.proposalId}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let element">
            <span class="no-wrap" *ngIf="element.proposal.type === 'Create'">New Certificate</span>
            <span class="no-wrap" *ngIf="element.proposal.type === 'Revoke'">Revoke Certificate</span>
            <span class="no-wrap" *ngIf="element.proposal.type === 'TotalPledgeMinimum'">Pledge Minimum</span>
            <span class="no-wrap" *ngIf="element.proposal.type === 'TotalVoteMinimum'">Vote Minimum</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="pledgeBalance">
          <th mat-header-cell *matHeaderCellDef>Pledge Balance</th>
          <td mat-cell *matCellDef="let element">
            <span class="no-wrap">
              <opdex-number
                suffix="CRS"
                [short]="true"
                [preventCopy]="true"
                [value]="element.pledgeBalance">
              </opdex-number>
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="voteBalance">
          <th mat-header-cell *matHeaderCellDef>Vote Balance</th>
          <td mat-cell *matCellDef="let element">
            <span class="no-wrap">
              <opdex-number
                suffix="CRS"
                [short]="true"
                [preventCopy]="true"
                [value]="element.voteBalance">
              </opdex-number>
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="expiration">
          <th mat-header-cell *matHeaderCellDef> Expiration </th>
          <td mat-cell *matCellDef="let element">
            <span class="no-wrap" *ngIf="element.proposal.expiration > latestBlock">
              <opdex-number [value]="element.proposal.expiration - latestBlock" [preventCopy]="true"></opdex-number>
              Blocks
            </span>
            <span class="no-wrap" *ngIf="element.proposal.expiration <= latestBlock">Expired</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions" stickyEnd>
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <div class="flex-row-center-end" *ngIf="context?.isLoggedIn">
              <button class="small" mat-icon-button color="primary" [matMenuTriggerFor]="beforeMenu" (click)="$event.stopPropagation()">
                <mat-icon>{{icons.more}}</mat-icon>
              </button>
            </div>

            <mat-menu #beforeMenu="matMenu" xPosition="before" class="w-100">
              <button mat-menu-item class="small"
                (click)="openSidebar('Pledge', element.proposal.proposalId, false)"
                *ngIf="element.proposal.status === 'Pledge' && element.proposal.expiration > latestBlock">
                <mat-icon class="blue">{{icons.pledge}}</mat-icon> Add Pledge
              </button>

              <button mat-menu-item class="small"
                (click)="openSidebar('Pledge', element.proposal.proposalId, true)"
                *ngIf="element.proposal.status === 'Pledge' || element.proposal.status === 'Vote' || element.proposal.status === 'Complete'">
                <mat-icon class="blue">{{icons.pledge}}</mat-icon> Withdraw Pledge
              </button>

              <button mat-menu-item class="small"
                (click)="openSidebar('Vote', element.proposal.proposalId, false)"
                *ngIf="element.proposal.status === 'Vote' && element.proposal.expiration > latestBlock">
                <mat-icon class="purple">{{icons.proposal}}</mat-icon> Add Vote
              </button>

              <button mat-menu-item class="small"
                (click)="openSidebar('Vote', element.proposal.proposalId, true)"
                *ngIf="element.proposal.status === 'Vote' || element.proposal.status === 'Complete'">
                <mat-icon class="purple">{{icons.proposal}}</mat-icon> Withdraw Vote
              </button>

              <button mat-menu-item class="small"
                (click)="quoteCompleteProposal(element.proposal.proposalId)"
                *ngIf="element.proposal.status !== 'Complete' && element.proposal.expiration < latestBlock">
                <mat-icon class="green">{{icons.check}}</mat-icon> Complete Proposal
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
        <tr mat-row
          class="hoverable"
          *matRowDef="let row; columns: displayedColumns;"
          routerLink="/vault/proposal/{{row.proposal.proposalId}}"></tr>
      </table>
    </div>

    <div class="paginator">
      <div class="flex-row-center-center">
        <button mat-icon-button [disabled]="!previous" (click)="pageChange(false)"><mat-icon>{{icons.previous}}</mat-icon></button>
        <button mat-icon-button [disabled]="!next" (click)="pageChange(true)"><mat-icon>{{icons.next}}</mat-icon></button>
      </div>
    </div>
  </ng-container>

  <ng-template #noResults>
    <p class="mt-2 text-center light">No proposals found</p>
  </ng-template>
</ng-container>

<ng-template #loader>
  <opdex-skeleton-table></opdex-skeleton-table>
</ng-template>
