<ng-container *ngIf="!loading; else loader">
  <ng-container *ngIf="!summary.error && summary.pool">
    <a class="no-decoration" routerLink="/pools/{{summary.pool.address}}">{{summary.pool.name}}</a>
  </ng-container>

  <ng-container *ngIf="summary.crs && summary.src && !summary.error">
    {{summary.src.symbol}}-{{summary.crs.symbol}}
  </ng-container>

  <div *ngIf="summary.error" class="flex-row-center">
    {{summary.error}}
  </div>
</ng-container>

<ng-template #loader>
  <div class="w-100 skeleton-bg"></div>
</ng-template>
