<ng-container *ngIf="!loading; else loader">
  <ng-container *ngIf="summary.token && !summary.error">
    <div class="flex-row-center mb-2">
      <button mat-icon-button color="primary" class="tiny mr-2" routerLink="/mining-governance">
        <mat-icon class="red">{{icons.mining}}</mat-icon>
      </button>

      <opdex-number
        class="mr-2"
        prefix="+"
        [value]="summary.miningGovernanceAmount"
        [short]="true"
        [stopPropagation]="true">
      </opdex-number>

      <a class="ml-1 no-decoration" routerLink="/tokens/{{summary.token.address}}">{{summary.token.symbol}}</a>
    </div>

    <div class="flex-row-center">
      <button mat-icon-button color="primary" class="tiny mr-2" routerLink="/vault">
        <mat-icon class="swap">{{icons.vault}}</mat-icon>
      </button>

      <opdex-number
        class="mr-2"
        prefix="+"
        [value]="summary.vaultAmount"
        [short]="true"
        [stopPropagation]="true">
      </opdex-number>

      <a class="ml-1 no-decoration" routerLink="/tokens/{{summary.token.address}}">{{summary.token.symbol}}</a>
    </div>
  </ng-container>

  <div *ngIf="summary.error" class="flex-row-center">
    <mat-icon class="mine mr-2 tiny">{{icons.error}}</mat-icon> {{summary.error}}
  </div>
</ng-container>

<ng-template #loader>
  <div class="w-100 skeleton-bg"></div>
</ng-template>
