<div class="flex-row-center-between mb-3">
  <h3 class="mb-0">Download Transaction History</h3>
  <button mat-icon-button class="tiny" mat-dialog-close><mat-icon>{{icons.close}}</mat-icon></button>
</div>

<p>Select a date range to download wallet transaction history. This may take a while. Fiat values are estimates based on historical daily closing pricing.</p>

<mat-divider style="position: relative" class="mb-3"></mat-divider>

<mat-form-field appearance="legacy" floatLabel="always" class="mb-3">
  <mat-label>Year</mat-label>
  <mat-select [formControl]="year">
    <mat-option *ngFor="let option of years" [value]="option">
      {{option}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="flex-row-center" *ngIf="!inProgress && !blob; else downloading">
  <button mat-stroked-button mat-dialog-close class="w-100 mr-2">Cancel</button>
  <button mat-flat-button (click)="initDownload()" cdkFocusInitial class="w-100" color="primary" [disabled]="inProgress" [disabled]="!year.value">Download</button>
</div>

<ng-template #downloading>
  <ng-container *ngIf="!blob">
    <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
    <small>Downloading...</small>
  </ng-container>

  <ng-container *ngIf="blob">
    <mat-progress-bar mode="determinate" value="100" color="primary"></mat-progress-bar>
    <div class="flex-row-center-between">
      <small>Export Complete</small>
      <a href="javascript:void(0)" (click)="save()"><small>Download</small></a>
    </div>
  </ng-container>
</ng-template>
