<ng-container *ngIf="!loading; else loader">
  <div class="w-100 flex-row-center" *ngIf="summary.tokenInAmount && summary.tokenOutAmount && summary.tokenIn && summary.tokenOut && !summary.error">
    <div class="col no-wrap flex-shrink">
      <opdex-number class="mr-2" [value]="summary.tokenInAmount" prefix="-" [short]="true" [stopPropagation]="true"></opdex-number>
      <a class="no-decoration" routerLink="/tokens/{{summary.tokenIn.address}}">{{summary.tokenIn.symbol}}</a>
    </div>

    <div class="col no-wrap">
      <opdex-number class="mr-2" [value]="summary.tokenOutAmount" prefix="+" [short]="true" [stopPropagation]="true"></opdex-number>
      <a class="no-decoration" routerLink="/tokens/{{summary.tokenOut.address}}">{{summary.tokenOut.symbol}}</a>
    </div>
  </div>

  <div *ngIf="summary.error" class="flex-row-center">
    <mat-icon class="mine mr-2 tiny">{{icons.error}}</mat-icon> {{summary.error}}
  </div>
</ng-container>

<ng-template #loader>
  <div class="w-100 skeleton-bg"></div>
</ng-template>
