<div id="trade-container">
  <div class="mb-3">
    <opdex-tx-buttons (onSelectOption)="handleTxOption($event)"></opdex-tx-buttons>
  </div>

  <div [ngSwitch]="view">
    <opdex-tx-swap *ngSwitchCase="1" [data]="{pool}"></opdex-tx-swap>
    <opdex-tx-provide *ngSwitchCase="2" [data]="{pool}" (onPoolSelection)="handlePoolSelection($event)"></opdex-tx-provide>
    <opdex-tx-stake *ngSwitchCase="3" [data]="{pool}" (onPoolSelection)="handlePoolSelection($event)"></opdex-tx-stake>
    <opdex-tx-mine *ngSwitchCase="4" [data]="{pool}" (onPoolSelection)="handlePoolSelection($event)"></opdex-tx-mine>
    <!-- <opdex-tx-allowance *ngSwitchCase="5" [data]="message?.data"></opdex-tx-allowance> -->
    <!-- <opdex-tx-create-pool *ngSwitchCase="6" [data]="message?.data"></opdex-tx-create-pool> -->
    <!-- <opdex-tx-vault-proposal *ngSwitchCase="7" [data]="message?.data"></opdex-tx-vault-proposal> -->
  </div>
</div>
