<main *ngIf="indexing !== undefined">
  <div class="main-content-container" [ngClass]="{'sidebar-pinned': isPinned}">
    <aside id="desktop-sidenav" [ngClass]="{'pinned': isPinned}">
      <opdex-side-nav (onPinnedToggle)="handlePinnedToggle($event)"></opdex-side-nav>
    </aside>

    <div class="animation-container">
      <div id="page-content">
        <div class="mobile-nav" [ngClass]="{'open': menuOpen}">
          <opdex-side-nav (onRouteChanged)="handleRouteChanged($event)" [mobileMenuOpen]="menuOpen"></opdex-side-nav>
          <button mat-icon-button class="small close-button" (click)="handleToggleMenu()" *ngIf="menuOpen">
            <mat-icon>{{icons.close}}</mat-icon>
          </button>
        </div>

        <div class="page-content-container" [@fadeAnimation]="prepareRoute(outlet)">
          <div class="pricing">
            CRS &#36;{{prices?.usd}}
          </div>
          <router-outlet #outlet="outlet"></router-outlet>
        </div>

        <div class="mobile-navbar">
          <opdex-mobile-nav (onToggleMenu)="handleToggleMenu()"></opdex-mobile-nav>
        </div>
      </div>
    </div>
  </div>
</main>

