<header>
  <nav>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <button mat-button routerLink="/">Dashboard</button>
          <button mat-button routerLink="/pools">Pools</button>
          <button mat-button routerLink="/tokens">Tokens</button>
          <button mat-button routerLink="/mining">Mining</button>
          <button mat-button routerLink="/vault">Vault</button>
        </div>
      </div>
    </div>
  </nav>
</header>

<main *ngIf="indexed">
  <router-outlet></router-outlet>
</main>

