<ng-container *ngIf="!loading; else loader">
  <ng-container *ngIf="!summary.error">
    <opdex-number prefix="+" [value]="summary.amount" [short]="true" class="mr-2" [stopPropagation]="true"></opdex-number>
    <a class="no-decoration" routerLink="/tokens/{{summary.token.address}}">{{summary.token.symbol}}</a>
  </ng-container>

  <div *ngIf="summary.error" class="flex-row-center">
    <mat-icon class="mine mr-2 tiny">{{icons.error}}</mat-icon> {{summary.error}}
  </div>
</ng-container>

<ng-template #loader>
  <div class="w-100 skeleton-bg"></div>
</ng-template>
