<ng-container *ngIf="!loading; else loader">
  <ng-container *ngIf="summary.token && !summary.error">
    <div class="flex-row-center">
      <opdex-number
        class="mr-2"
        prefix="-"
        [value]="summary.transferAmount"
        [short]="true"
        [stopPropagation]="true">
      </opdex-number>

      <a class="ml-1 no-decoration" routerLink="/tokens/{{summary.token.address}}">{{summary.token.symbol}}</a>
    </div>
  </ng-container>

  <div *ngIf="summary.error" class="flex-row-center">
    <mat-icon class="mine mr-2 tiny">{{icons.error}}</mat-icon> {{summary.error}}
  </div>
</ng-container>

<ng-template #loader>
  <div class="w-100 skeleton-bg"></div>
</ng-template>
