<ng-container *ngIf="!loading; else loader">
  <ng-container *ngIf="summary.amount && !summary.error">
    <div class="flex-row-center">
      <opdex-number
        prefix="+"
        [value]="summary.amount"
        [short]="true"
        [stopPropagation]="true">
      </opdex-number>

      <a class="ml-1 no-decoration" routerLink="/tokens/{{summary.vaultToken.address}}">{{summary.vaultToken.symbol}}</a>
    </div>
  </ng-container>

  <div *ngIf="summary.error" class="flex-row-center">
    <mat-icon class="mine mr-2 tiny">{{icons.error}}</mat-icon> {{summary.error}}
  </div>
</ng-container>

<ng-template #loader>
  <div class="w-100 skeleton-bg"></div>
</ng-template>
