<div class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Dashboard</h1>
      </div>

      <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <opdex-market-token-card [token]="crs"></opdex-market-token-card>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <opdex-market-token-card [token]="odx"></opdex-market-token-card>
      </div>
    </div>
  </div>
</div>

<div class="offset-section">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12">
        <h3>Mining Pools</h3>

        <div class="scrollable-row">
          <div class="scrollable-card" *ngFor="let pool of miningPools; trackBy: poolsTrackBy">
            <opdex-mining-pool-card [pool]="pool"></opdex-mining-pool-card>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h3>Nominated Pools</h3>

        <div class="scrollable-row">
          <div class="scrollable-card" *ngFor="let pool of nominatedPools; trackBy: poolsTrackBy">
            <opdex-staking-pool-card [pool]="pool"></opdex-staking-pool-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="standard-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let pool of pools">
        <opdex-card routerLink="/pools/{{pool.address}}">
          <h3>{{pool.name}}</h3>
          <small>{{pool.address}}</small>
          <p>{{pool.reserveCrs.formattedValue}} CRS Reserves</p>
          <p>{{pool.reserveSrc.formattedValue}} {{pool.srcToken.symbol}} Reserves</p>
          <p>{{pool.totalStaked.formattedValue}} ODX Staked</p>
          <p>1 CRS = {{pool.srcPerCrs.formattedValue}} {{pool.srcToken.symbol}}</p>
          <p>1 {{pool.srcToken.symbol}} = {{pool.crsPerSrc.formattedValue}} CRS</p>
        </opdex-card>
      </div>
    </div>
  </div>
</div>

