<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Dashboard</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let pool of pools">
      <mat-card style="margin-bottom: 15px;" routerLink="/pools/{{pool.pool.address}}">
        <h3 style="margin-bottom: 0px">{{pool.token.symbol}}-CRS</h3>
        <p>{{pool.pool.address}}</p>
        <p>{{pool.pool.reserveCrs | coinNotation:8}} CRS Reserves</p>
        <p>{{pool.pool.reserveSrc | coinNotation:pool.token.decimals}} SRC Reserves</p>
        <p>{{pool.pool.totalStaked | coinNotation:8}} ODX Staked</p>
      </mat-card>
    </div>
  </div>
</div>

