@import 'src/scss/colors';

.big-button {
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  min-width: auto;
  transition: background .25s ease;
  border: 3px solid transparent;

  &:disabled {
    .mat-icon {
      opacity: .5;
    }
  }

  &.swap-button, &.create-pool-button {
    background: rgba($blue-primary, .2) !important;

    &:hover {
      background: rgba($blue-primary, .4) !important;
    }

    &.active {
      border-color: $blue-primary;
    }

    .mat-icon {
      color: $blue-primary;
    }
  }

  &.provide-button {
    background: rgba($green-primary, .2) !important;

    &:hover {
      background: rgba($green-primary, .4) !important;
    }

    &.active {
      border-color: $green-primary;
    }

    .mat-icon {
      color: $green-primary;
    }
  }

  &.stake-button {
    background: rgba($purple-primary, .2) !important;

    &:hover {
      background: rgba($purple-primary, .4) !important;
    }

    &.active {
      border-color: $purple-primary;
    }

    .mat-icon {
      color: $purple-primary;
    }
  }

  &.mine-button {
    background: rgba($red-primary, .2) !important;

    &:hover {
      background: rgba($red-primary, .4) !important;
    }

    &.active {
      border-color: $red-primary;
    }

    .mat-icon {
      color: $red-primary;
    }
  }
}
