<div class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="flex-row-center">
          <opdex-token-icons [tokens]="[pool?.crsToken, pool?.srcToken]"></opdex-token-icons>
          <h1 class="mb-0 ml-2">{{pool?.name}}</h1>
        </div>

        <opdex-copy-address [address]="pool?.address"></opdex-copy-address>
      </div>
    </div>
  </div>
</div>

<div class="offset-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <opdex-liquidity-pool-summary-card [pool]="pool"></opdex-liquidity-pool-summary-card>
      </div>
    </div>
  </div>
</div>
